<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style.css">
    <title>Title</title>
  </head>
  <body>
    <div id="header">
      <h1 class="hh">Jakob McPherson's Digital Portfolio</h1>
      <div id="pinkheader">
	<a href="../../index.html" class="ha">Home</a>
	<a href="../index.html" class="ha">CS-III</a>
      </div>
    </div>

    <div id="apacontents">
      <div id="apatitlepage">
	<p class="apatitle">Title</p>
	<p class="apaheader">Jakob McPherson</p>
	<p class="apaheader">STEAM Center, Allen High School</p>
	<p class="apaheader">TA2S3A: Computer Science III Pre-AP/IB</p>
	<p class="apaheader">Mr. Ben-Yaakov</p>
	<p class="apaheader">Month XX, 2022</p>
      </div>

      <h1 class="apah1">Title</h1>
      <p class="apap"></p>

      <h1 class="apah1" id="apacitationheader">References</h1>
      <p class="apacitation"></p>
    </div>
  </body>
</html>
